html {
    overflow: auto;
    background: #FFFCF5;
}
/* ============================== Font ============================== */
/* ============================== Font ============================== */
/* ============================== Font ============================== */
@font-face {
    font-family: "Andika";
    src: url("andika/Andika-Regular.ttf") format("truetype"),
        url("andika/Andika-Bold.ttf") format("truetype"),
        url("andika/Andika-Italic.ttf") format("truetype"),
        url("andika/Andika-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
/* ============================== Scrollbar ============================== */
/* ============================== Scrollbar ============================== */
/* ============================== Scrollbar ============================== */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background: transparent;
    margin-left: 100px;
}
::-webkit-scrollbar-thumb {
border-radius: 40px;
background: #FF5B00;
}
/* ============================== Body ============================== */
/* ============================== Body ============================== */
/* ============================== Body ============================== */
body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
/* ============================== Header ============================== */
/* ============================== Header ============================== */
/* ============================== Header ============================== */
header {
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 100%;
    background: #FFFCF5;
    position: fixed;
    top: 0;
    font-family: "Andika", Arial, sans-serif;
}
.header {
    overflow: hidden;
    padding: 30px 25px;
}
/* Style the header links */
.header a {
    float: left;
    color: #130000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    text-align: left;
    line-height: 40px;
    font-size: 50px;
    font-weight: bold;
}
/* Change the background color on mouse-over */
.header a:hover {
    background-color: #00FFEF;
    color: #FFFCF5;
}
/* Style the active/current link*/
.header a.active {
    background-color: #ff5b00;
    color: white;
}
/* Float the link section to the right */
.header-right {
    float: right;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    header {
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
        background: #FFFCF5;
    }
    .header-right {
        float: none;
    }
}
/* ============================== Scroll Menu ============================== */
/* ============================== Scroll Menu ============================== */
/* ============================== Scroll Menu ============================== */
#scroll_menu {
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
#scroll_menu a {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    color: #130000;
    text-decoration: none;
    align-self: flex-end;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #ff590047;
    margin-left: 10px;
    align-self: center;
}
#scroll_menu .text,
#scroll_menu .circle {
    transition: 0.3s;
    color: #ff590047;
}
/* Change the background color on mouse-over */
#scroll_menu a:hover .text,
#scroll_menu a:hover .circle {
    color: #00ffeeb3;
    border-color: #00ffeeb3;
}
#scroll_menu a.active .circle {
    background-color: #FF5B00;
    border: 2px solid #FF5B00;
}
#scroll_menu a.active .text {
    font-weight: bold;
    color: #FF5B00;
}
/* ============================== Section ============================== */
/* ============================== Section ============================== */
/* ============================== Section ============================== */
section {
    display: flex;
    height: 101vh;
    /*border-top: 100px solid;*/
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section_about_us {
    height: 110vh;
    min-height: 110vh;
}
#section_partner {
    height: 50vh;
    min-height: 50vh;
}
#envelope_section {
    height: 1200px;
    min-height: 1200px;
}
#options_section {
    height: 520px;
    min-height: 520px;
}
/* ============================== Wrapper Styles ============================== */
/* ============================== Wrapper Styles ============================== */
/* ============================== Wrapper Styles ============================== */
#FileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Andika", Arial, sans-serif;
}
.wrapper {
    align-self: center;
    width: 540px;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter:blur(5.7px);
    backdrop-filter: blur(5.7px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
/* ============================== Upload Box ============================== */
/* ============================== Upload Box ============================== */
/* ============================== Upload Box ============================== */
.upload {
    margin: 10px;
    height: 400px;
    width: 500px;
    border: 8px dashed #99b4c0;
    display: flex;
    flex-direction: column; /* Neue Eigenschaft */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.upload p {
    line-height: 0;
    font-size: 22px;
    color: #130000;
    letter-spacing: 1.5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Abstand zwischen Icon und Text */
    text-align: center; /* Zentrieren des Textes */
}
.upload__button {
    background-color: #2484a6;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: #130000;
}
.upload__button:hover {
    cursor: pointer;
    background-color: #99b4c0;
    color: #FFFCF5;
}
#upload_button_icon {
    width: 250px;
    height: 250px;
    padding: 0px 10px 0px 10px;
}
/* ============================== Uploaded Files ============================== */
/* ============================== Uploaded Files ============================== */
/* ============================== Uploaded Files ============================== */
.uploaded {
  width: 375px;
  margin: 10px;
  background-color: #99b4c0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.file {
  display: flex;
  flex-direction: column;
}
.file__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 300px;
  line-height: 0;
  color: #0c3214;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.fa-times:hover {
  cursor: pointer;
  opacity: 0.8;
}
.fa-file-pdf {
  padding: 15px;
  font-size: 40px;
  color: #0c3214;
}

#no_printer_no_problem {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: auto;
    object-fit: contain;
}
#buisnessman {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    margin-top: -10%;
    margin-left: 8%;
}
#tree {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    margin-top: -50%;
    margin-left: 60%;
}
#coin {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    margin-top: -50%;
    margin-left: 8%;
}
h1 {
    font-family: "Andika", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.content {
    text-align: left;
    width: 90%;
    height: 100%;
    font-family: "Andika", Arial, sans-serif;
    font-size: 20px;
    margin-bottom: -30%;
}
#About_Us {
    padding: 10%;
    padding-top: 0px;
    margin-left: 0%;
    width: 30%;
    height: 10%;
}
#Environment {
    padding: 10%;
    padding-top: 0px;
    margin-left: 50%;
    width: 30%;
    height: 10%;
}
#Price {
    padding: 10%;
    padding-top: 0px;
    margin-left: 0%;
    width: 30%;
    height: 10%;
}
#Partner {
    text-align: center;
    font-family: "Andika", Arial, sans-serif;
    font-size: 20px;
}
#Partner h1 {
    text-align: center;
    font-family: "Andika", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#logos img {
    margin: 0 5%; /* Fügt horizontalen Abstand zwischen den Logos hinzu */
    width: 15%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
footer {
    scroll-snap-align: end;
    background: #fffcf5;
    padding: 20px;
    text-align: center;
    font-family: "Andika", Arial, sans-serif;
    font-size: 16px;
    color: #1b1b1b;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.footer-links li {
    display: inline;
}
.footer-links li:not(:last-child)::after {
    content: "|";
    margin: 0 8px;
}
.footer-links a {
    color: #1b1b1b;
    text-decoration: none;
}
.footer-links a:hover {
    color: #ff5b00;
}
/* ============================== Envelope ============================== */
/* ============================== Envelope ============================== */
/* ============================== Envelope ============================== */
.Envelope {
    top: 100px;
    width: auto; 
    height: auto; 
    position: relative;
}
@keyframes flap-animation {
    0% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

@keyframes file-window-animation {
    0% { top: 0px; }
    100% { top: -500px; }
}
.open_envelope {
    width: auto; 
    height: auto;
    align-self: center;
    align-content: center;
}
.file-view-window {
    align-self: center;
    top: 0px; /* The file window starts from behind the envelope */
    left: 34px;
    width: 1188px;
    height: 500px;
    background-color: rgb(255, 243, 222);
    position: relative;
    transition: top 0.5s; /* This provides the animation effect */
}
.flap {
    position: relative;
    top: -575px; 
    align-self: center;
    transform: rotateX(90deg); /* Starting from 90 so it animates from closed position */
    transform-origin: bottom; /* This line specifies the bottom of the element as the origin for the rotation */
    transition: transform 0.8s; /* Ensuring smooth transition */
}
.flap-open {
    transform: rotateX(0deg); /* This rotates the flap to an open position */
}
.file-window-open {
    top: -500px; /* This moves the file window to a visible position */
}
.flap-close {
    transform: rotateX(90deg); /* This rotates the flap to a closed position */
}
.file-window-close {
    top: 0px; /* This moves the file window to a closed (hidden) position */
}
.EnvelopeWindow {
    left: 40px;
    top: 382px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}
.EnvelopeWindowBackground {
    width: 448px;
    height: 241px;
    background: #A7A7A7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 31px
}
.Files {
    position: relative;
    z-index: 3;
    width: 447.9px;
    height: 192px;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 50px;
    left: 0px;
    top: 48px;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    gap: 27px;
    display: inline-flex;
    overflow-y: hidden;
    border-radius: 0 0 31px 31px;
    -webkit-overflow-scrolling: touch;
}
.Files::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.File{
    height: 170.01px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cls-1_fti {
fill: #205475;
}
.cls-1_fti, .cls-2_fti {
fill-rule: evenodd;
}
.cls-2_fti {
fill: #2484a6;
}
.FileTypeIcon{
    width: 126.88px;
    height: 145.01px;
}
.cls-1 {
    fill: #ff5b00;
}
.cls-2 {
    fill: #fff;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}
.DeleteFileIcon {
    position: relative;
    top: 16px;
    left: 48.5px;
    width: 18px;
    height: 18px;
}
.FileName {
    width: 145px;
    height: 25px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.cls-1_adi {
    fill: #00ffef;
}
.cls-1_adi, .cls-2_adi {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.cls-2_adi {
    fill: #2484a6;
}
.AddFileIcon {
    width: 34px;
    height: 29px;
    left: 409px;
    top: 9px;
    position: absolute;
}
.EnvelopeContainer {
    padding: 10px;
    left: -10px;
    top: -10px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}
.Envelope_front {
    z-index: 2;
    width: 1256px;
    height: 644px
}
.Postage {
    z-index: 2;
    padding-left: 11px;
    padding-right: 11px;
    left: 1062px;
    top: 24px;
    position: absolute;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}
.Postage_icon {
    width: 159.25px;
    height: 182px;
}
.CurrencyIcon {
    width: 53.78px;
    height: 54px;
    left: 63.74px;
    top: 47px;
    position: absolute;
}
.PriceText {
    width: 90px;
    height: 43px;
    left: 46px;
    top: 110px;
    position: absolute;
    text-align: center;
    color: #205475;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}
/* ============================== Form ============================== */
/* ============================== Form ============================== */
/* ============================== Form ============================== */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.form_container {
    z-index: 2;
    position: relative;
    margin-top: -640px;
    width: 1256px;
}
.form_container .text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background: -webkit-linear-gradient(
        right,
        #06283d,
        #06283d,
        #2484A6,
        #36aad4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form_container form {
    padding: 30px 0 0 0; /* space between form and title*/
}
.form_container form .form-row {
    display: flex;
    margin: 40px 0; /* space between rows*/
}
form .form-row .input-data {
    width: 100%;
    height: 30px;
    margin: 0px 50px; /* manipulate row leangth */
    position: relative;
}
form .form-row .left-field {
    margin-right: 480px;
}

form .form-row .right-field {
    top: 350px;
    margin-left: -200px;
}
form .form-row .textarea {
    height: 80px;
}
.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 25px; /* font size input field */
    background-color: rgba(0, 0, 0, 0); /* input field color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.313); /* underline color */
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input.filled ~ label,
.textarea textarea.filled ~ label {
    transform: translateY(-30px); /* input title hight */
    font-size: 20px;
    color: #2484A6; /* input title color */
}
.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 8px;
    font-size: 20px;
    transition: all 0.3s ease;
    color: #13000071; /*placeholder color*/
}
.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #2484A6;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.input-data input.filled ~ .underline:before,
.textarea textarea.filled ~ .underline:before {
    transform: scale(1);
}
.submit-btn .input-data {
    border-radius: 0px 0px 20px 20px;
    top: 310px;
    left: 435px;
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
}
.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(
    right,
    #06283d,
    #1a99c7,
    #2484A6,
    #00FFEF
    );
    transition: all 0.4s;
}
.submit-btn .input-data:hover .inner {
    left: 0;
}
.submit-btn .input-data input {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color .8s ease;
}
.submit-btn .input-data:hover input {
    color: #130000;
}
@media (max-width: 700px) {
    .form_container .text {
        font-size: 30px;
    }
    .form_container form {
        padding: 10px 0 0 0;
    }
    .form_container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0 !important;
    }
    .submit-btn .input-data {
        width: 40% !important;
    }
}

/* ============= Stil für den Container des Dropdown-Menüs */
.pac-container {
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter:blur(5.7px);
    backdrop-filter: blur(5.7px);
    border: 1px solid #cccccc00;
    border-radius: 0 0 20px 20px; /* oben-links und oben-rechts sind 0, unten-rechts und unten-links sind 20px */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: "Andika", Arial, sans-serif;
    overflow: visible; /* Lässt die Kind-Elemente über den Container hinaus ragen */
}
/* Stil für die einzelnen Dropdown-Elemente */
.pac-item {
    cursor: pointer;
    padding: 5px 4px;
    border-color: transparent;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out; /* Hinzufügen einer Übergangsanimation für border-radius */
    border-radius: 0; /* Anfangszustand des border-radius */
}
/* Stil für die Elemente, wenn Sie mit der Maus darüber fahren */
.pac-item:hover,
.pac-item-selected { /* Fügt das gleiche Verhalten für Elemente hinzu, die den Fokus haben */
    border-radius: 45px;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter:blur(5.7px);
    backdrop-filter: blur(5.7px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1); /* Vergrößert das Element um 10% */
    position: relative; /* Wird benötigt, um das Element über anderen zu platzieren */
    z-index: 1; /* Stellt sicher, dass das Element über anderen liegt */
}
/* Stil für die Schriftart des Adresszusatzes (z.B. Land, Bundesland) */
.pac-item{
    font-size: 15px;
    color: #130000;
}
/* Stil für die Schriftart des Adresstexts */
.pac-item-query {
    font-size: 19px;
}
/* ============================== Options ============================== */
/* ============================== Options ============================== */
/* ============================== Options ============================== */
.Options {
    width: 1253px;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 106px;
    padding-right: 106px;
    justify-content: center;
    align-items: flex-start;
    gap: 118px;
    display: inline-flex
}
.Option {
    padding-left: 38px;
    padding-right: 38px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
    display: inline-flex
}
.OptionIcon {
    width: 192px;
    height: 192px;
    position: relative
}
.OptionName {
    width: 145px;
    height: 19px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.Send {
    width: 1350px;
    height: 121px;
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 70px;
    padding-right: 0px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}/*
.agb_box {
    width: 298px;
    height: 33.25px;
    position: relative
}

.agb_link_text {
    width: 300px;
    left: 42px;
    top: 2.12px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}

.agb_checkbox {
    width: 33px;
    height: 33.25px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: black
}*/
.SubmitButton {
    width:250px;
    height:250px;
    transform: scale(60%);
}
/* ============================== Options_Icon_Styles ============================== */
/* ============================== Options_Icon_Styles ============================== */
/* ============================== Options_Icon_Styles ============================== */
/* === color_icon === */
.ea2afb29-d9b5-4e11-bc43-40738ff33501 {
    fill: #99b4c0;
}
.b920b5e8-f716-4987-86d2-11169bd25dbd {
    fill: #130000;
}
.a78ef945-050c-43af-8755-fbffacbfb491 {
    fill: #00ffef;
}
.e0d2062c-daca-47e0-a82a-12aee8cf090e {
    fill: #2484a6;
}
.b1e3e00d-ea70-44ea-8d78-825ad5583878 {
    fill: #205475;
}
/* === route_icon === */
.st0{fill:none;stroke:#1A6666;stroke-width:2;}
.st1{fill:#130000;}
.st2{fill:#2484A6;}
.st3{fill:#33CCCC;}
.st4{fill:#205475;}
/* === paper_icon === */
.a191f58e-e67e-460b-bacb-e3eb28fc89af, .a1fc5251-b662-4fb6-8230-413957e37afa, .bd5fc056-1d73-41b2-8a2f-5eac8d4e6eb1, .fae21cd3-15df-4c3a-81fa-baea2d97456a {
    fill: none;
    stroke-miterlimit: 10;
}
.a191f58e-e67e-460b-bacb-e3eb28fc89af {
    stroke: #130000;
    stroke-width: 10px;
}
.fae21cd3-15df-4c3a-81fa-baea2d97456a {
    stroke: #205475;
}
.a1fc5251-b662-4fb6-8230-413957e37afa, .bd5fc056-1d73-41b2-8a2f-5eac8d4e6eb1, .fae21cd3-15df-4c3a-81fa-baea2d97456a {
    stroke-linecap: round;
}
.bd5fc056-1d73-41b2-8a2f-5eac8d4e6eb1, .fae21cd3-15df-4c3a-81fa-baea2d97456a {
    stroke-width: 8px;
}
.bd5fc056-1d73-41b2-8a2f-5eac8d4e6eb1 {
    stroke: #2484a6;
}
.a1fc5251-b662-4fb6-8230-413957e37afa {
    stroke: #00ffef;
    stroke-width: 5.74px;
}
.ea920cdb-56fa-47bb-a784-491e5c09bffc {
    fill: #00ffef;
}









@layer properties {
    @property --checkbox-color-hue {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;
    }
    @property --checkbox-color-saturation {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;
    }
    @property --checkbox-color-lightness {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;
    }
    @property --checkbox-color-light-lightness {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;   
    }
    @property --icon-opacity {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;   
    }
    @property --icon-invert {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;   
    }
    @property --icon-size {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;   
    }
    @property --negative-shadow-offset {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;   
    }
    @property --text-opacity {
    syntax:'<number>';
    inherits: true;
    initial-value: 0;   
    }
}

:root {
    /* -- Colors: */
    --body-bg-color: hsl(221deg 16% 12%);
    --checkbox-color-hue: 216; /* color of the checkbox while not true */
    --checkbox-color-saturation: 17;
    --checkbox-color-lightness: 15; 
    --checkbox-color: hsl(
        calc(var(--checkbox-color-hue) * 1deg) /**/
        calc(var(--checkbox-color-saturation) * 1%) /**/
        calc(var(--checkbox-color-lightness) * 1%) /**/
    );
    --checkbox-color-light: rgba(255 255 255 / 32%);
    --checkbox-color-dark: rgba(0 0 0 / 45%);

    /* -- Box */
    --checkbox-border-radius: 24%;
    --checkbox-width: 36;
    --checkbox-height: 36;

    --text-opacity: 0.6;
    
    --negative-shadow-offset: 500;
    --active-shadow-opacity: 0;
    
    /* -- icon */
    --icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' class='feather feather-check'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
    --icon-opacity: 0;
    --icon-size: 1;
    
    /* -- easing */
    --cubic-bezier: cubic-bezier(0.6, -1.2, 0.2, 2.2);

    /* -- misc */
    --debug: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    /* debug */
    outline: calc(var(--debug) * 1px) dashed red;
}

.agb_checkbox { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: start;
    grid-gap: .8em;
    transform: scale(1)
}

label[for*="checkbox"] {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    
    /* text settings */
    color: rgba(19 0 0 / var(--text-opacity));
    font-size: 1.6em;
    letter-spacing: .1em;
    font-weight: 400;
    
    transition: --text-opacity .2s ease;
    
    &:hover {
        --text-opacity: 1;
            &:after {
                --icon-opacity: .50;
                --icon-invert: 100;
                --icon-size: 0.8;
            }

        input[type="checkbox"] {  
            --checkbox-color-hue: 216;
            --checkbox-color-saturation: 14;
            --checkbox-color-lightness: 18;
            --checkbox-color: hsl(
            calc(var(--checkbox-color-hue) * 1deg) 
            calc(var(--checkbox-color-saturation) * 1%) 
            calc(var(--checkbox-color-lightness) * 1%) 
            );
        }
    }
    /* label:after */
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: calc(var(--checkbox-width) * 1px);
        height: calc(var(--checkbox-height) * 1px);
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70%;
        border-radius: var(--checkbox-border-radius);
        pointer-events: none;
        background-image: var(--icon-check);
        filter: invert(100%);
        opacity: var(--icon-opacity);
        transform: scale(var(--icon-size));
        
        /* here I couldn't animate --icon-invert */
        transition: opacity .3s ease, filter .3s ease, transform .3s var(--cubic-bezier);
    }
    &:has(input[type="checkbox"]:checked) {
        &:after {
            --icon-opacity: 1;
            /* For a reason, this wasn't possible using Scss
            If anyone wants to break their teeth on it
            type this in sassmeister.com */
            /* 
            div {
            filter: invert(calc(var(--icon-invert) * 1%));
            }
            */
            filter: invert(0%);
            
        }
    }

    /* label input[type="checkbox"] */
    & input[type="checkbox"] {
        appearance: none;
        cursor: pointer;
        margin: 0;
        background: var(--checkbox-color);
        width: calc(var(--checkbox-width) * 1px);
        height: calc(var(--checkbox-height) * 1px);
        border: calc(calc(var(--checkbox-width) / 15) * 1px) solid black;
        border-radius: var(--checkbox-border-radius);
        box-shadow:inset 0 0 calc(calc(var(--checkbox-width) / 10) * 1px) rgba(0 0 0 / calc(var(--active-shadow-opacity))), 
            inset 0 
            calc(calc(var(--checkbox-width) / 20) * 1px)
            calc(calc(var(--checkbox-width) / 30) * 1px) 
            calc(calc(var(--checkbox-width) / var(--negative-shadow-offset)) * -1px)
            
            var(--checkbox-color-light),
            inset 0 calc(calc(var(--checkbox-width) / 20) * -1px)
            calc(calc(var(--checkbox-width) / 15) * 1px) calc(calc(var(--checkbox-width) / var(--negative-shadow-offset)) * -1px) var(--checkbox-color-dark);
        transition: --checkbox-color-hue .1s ease,
                    --checkbox-color-saturation .1s ease,
                    --checkbox-color-lightness .1s ease,
                    --checkbox-color 0s ease,
                    --negative-shadow-offset .2s ease;

        &:active,
        &:checked {
            --checkbox-color-hue: 264; 
            --checkbox-color-saturation: 56; 
            --checkbox-color-lightness: 49; 
            --checkbox-color: hsl(
            calc(var(--checkbox-color-hue) * 1deg) /**/
            calc(var(--checkbox-color-saturation) * 1%) /**/
            calc(var(--checkbox-color-lightness) * 1%) /**/
            );
        }

        &:checked {
            --checkbox-color-hue: 265;
            --checkbox-color-saturation: 80;
            --checkbox-color-lightness: 61;
            --checkbox-color: hsl(
                calc(var(--checkbox-color-hue) * 1deg) 
                calc(var(--checkbox-color-saturation) * 1%) 
                calc(var(--checkbox-color-lightness) * 1%) 
            );
        }    
    }

    &:active {
        --active-shadow-opacity: 0.8;
        &:after {
            --icon-size: 0.7;
        }
        
        & input[type="checkbox"] {
            --negative-shadow-offset: 0;
        }
    }
}