html {
    overflow: auto;
    background: #FFFCF5;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-Regular.ttf") format("truetype"),
        url("andika/Andika-Bold.ttf") format("truetype"),
        url("andika/Andika-Italic.ttf") format("truetype"),
        url("andika/Andika-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Andika";
    src: url("andika/Andika-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 10px;
    height: auto;
    border-radius: 4px;
    background: transparent;
    margin-left: 100px;
}
::-webkit-scrollbar-thumb {
border-radius: 40px;
background: #FF5B00;
}

body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

header {
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 100%;
    background: #FFFCF5;
    position: fixed;
    top: 0;
    font-family: "Andika", Arial, sans-serif;
}

.header {
    overflow: hidden;
    padding: 30px 25px;
}

/* Style the header links */
.header a {
    float: left;
    color: #130000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    text-align: left;
    line-height: 40px;
    font-size: 50px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #00FFEF;
    color: #FFFCF5;
}

/* Style the active/current link*/
.header a.active {
    background-color: #ff5b00;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    header {
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
        background: #FFFCF5;
    }
    .header-right {
        float: none;
    }
}

/* Scroll Menu */
#scroll_menu {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
#scroll_menu a {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    color: #130000;
    text-decoration: none;
    align-self: flex-end;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #FF5B00;
    margin-left: 10px;
    align-self: center;
}
#scroll_menu .text {
    transition: 0.3s;
    color: #ff590047;
}
/* Change the background color on mouse-over */
#scroll_menu a:hover .text,
#scroll_menu a:hover .circle {
    color: #00ffeeb3;
    border-color: #00ffeeb3;
}
#scroll_menu a.active .circle {
    background-color: #FF5B00;
    border: 2px solid #FF5B00;
}
#scroll_menu a.active .text {
    font-weight: bold;
    color: #FF5B00;
}

section {
    display: flex;
    height: 101vh;
    /*border-top: 100px solid;*/
    scroll-snap-align: start;
    background: #FFFCF5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section_about_us {
    height: 110vh;
    min-height: 110vh;
}
#section_partner {
    height: 50vh;
    min-height: 50vh;
}

/* === Wrapper Styles === */
#FileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Andika", Arial, sans-serif;
}
.wrapper {
    align-self: center;
    width: 540px;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter:blur(5.7px);
    backdrop-filter: blur(5.7px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
/* === Upload Box === */
.upload {
    margin: 10px;
    height: 400px;
    width: 500px;
    border: 8px dashed #99b4c0;
    display: flex;
    flex-direction: column; /* Neue Eigenschaft */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.upload p {
    line-height: 0;
    font-size: 22px;
    color: #130000;
    letter-spacing: 1.5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Abstand zwischen Icon und Text */
    text-align: center; /* Zentrieren des Textes */
}
.upload__button {
    background-color: #2484a6;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: #130000;
}
.upload__button:hover {
    cursor: pointer;
    background-color: #99b4c0;
    color: #FFFCF5;
}
#upload_button_icon {
    width: 250px;
    height: 250px;
    padding: 0px 10px 0px 10px;
}

/* === Uploaded Files === */
.uploaded {
  width: 375px;
  margin: 10px;
  background-color: #99b4c0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.file {
  display: flex;
  flex-direction: column;
}
.file__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 300px;
  line-height: 0;
  color: #0c3214;
  font-size: 18px;
  letter-spacing: 1.5px;
}
.fa-times:hover {
  cursor: pointer;
  opacity: 0.8;
}
.fa-file-pdf {
  padding: 15px;
  font-size: 40px;
  color: #0c3214;
}

#no_printer_no_problem {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: auto;
    object-fit: contain;
}
#buisnessman {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    margin-top: -10%;
    margin-left: 8%;
}
#tree {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    margin-top: -50%;
    margin-left: 60%;
}
#coin {
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    margin-top: -50%;
    margin-left: 8%;
}
h1 {
    font-family: "Andika", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.content {
    text-align: left;
    width: 90%;
    height: 100%;
    font-family: "Andika", Arial, sans-serif;
    font-size: 20px;
    margin-bottom: -30%;
}
#About_Us {
    padding: 10%;
    padding-top: 0px;
    margin-left: 0%;
    width: 30%;
    height: 10%;
}
#Environment {
    padding: 10%;
    padding-top: 0px;
    margin-left: 50%;
    width: 30%;
    height: 10%;
}
#Price {
    padding: 10%;
    padding-top: 0px;
    margin-left: 0%;
    width: 30%;
    height: 10%;
}

#Partner {
    text-align: center;
    font-family: "Andika", Arial, sans-serif;
    font-size: 20px;
}
#Partner h1 {
    text-align: center;
    font-family: "Andika", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#logos img {
    margin: 0 5%; /* Fügt horizontalen Abstand zwischen den Logos hinzu */
    width: 15%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    scroll-snap-align: end;
    background: #fffcf5;
    padding: 20px;
    text-align: center;
    font-family: "Andika", Arial, sans-serif;
    font-size: 16px;
    color: #1b1b1b;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
}

.footer-links li:not(:last-child)::after {
    content: "|";
    margin: 0 8px;
}

.footer-links a {
    color: #1b1b1b;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ff5b00;
}

/* === Envelope === */

input#flap {
    display: none;
}

.envelope-container {
    position: relative;
}

.envelope-back {
    position: relative;
    width: 1280px;
    height: 800px;
    background-color: #205475;
    border-radius: 90px;
}

.envelope-back:before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.07);
    width: 1280px;
    height: 40px;
    border-radius: 50%;
    top: 880px;
}

.card {
    position: absolute;
    width: 1200px;
    height: 720px;
    background-color: white;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: Brush Script MT;
    transition: 0.1s;
    z-index: 1;
    cursor: pointer;
    border-radius: 90px;
}

.card-front {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 400px solid #205475;
    border-left: 640px solid transparent;
    border-right: 640px solid transparent;
    top: 400px;
    left: 0;
    z-index: 3;
    border-radius: 90px;
}

.card-front:before,
.card-front:after {
    content: "";
    position: absolute;
    border-bottom: 400px solid transparent;
    border-top: 400px solid transparent;
    height: 0;
    width: 0;
    border-radius: 90px;
}

.card-front:before {
    border-left: 644px solid transparent;
    border-right: 644px solid #2484a6;
    top: -400px;
    left: -648px;
}

.card-front:after {
    border-right: 644px solid transparent;
    border-left: 644px solid #2484a6;
    top: -400px;
    left: -640px;
}

.flap {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 440px solid #99b4c0;
    border-left: 640px solid transparent;
    border-right: 640px solid transparent;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.3s;
    transform-origin: top;
    z-index: 4;
    border-radius: 90px;
}

#flap:checked + .flap {
    transform: rotateX(180deg);
    
}

#flap:checked ~ .card-front {
    z-index: 7;
}

#flap:checked ~ .card {
    z-index: 4;
    transform: translateY(-90px);
}

/* === Forms === */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    z-index: 9;
    margin-top: -550px;
    background: #ffffff00;
    width: 1200px;
    padding: 10px;
}
.container .text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background: -webkit-linear-gradient(
        right,
        #00FFEF,
        #FF5B00,
        #00FFEF,
        #FF5B00
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container form {
    padding: 30px 0 0 0; /* space between form and title*/
}
.container form .form-row {
    display: flex;
    margin: 40px 0; /* space between rows*/
}
form .form-row .input-data {
    width: 100%;
    height: 30px;
    margin: 0px 10px; /* manipulate row leangth */
    position: relative;
}
form .form-row .left-field {
    bottom: 50px;
    margin-right: 900px;
}

form .form-row .right-field {
    margin-left: -500px;
}
form .form-row .textarea {
    height: 80px;
}
.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 25px; /* font size input field */
    background-color: rgba(0, 0, 0, 0); /* input field color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.313); /* underline color */
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
    transform: translateY(-30px); /* input title hight */
    font-size: 20px;
    color: #ff5b00; /* input title color */
}
.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 8px;
    font-size: 20px;
    transition: all 0.3s ease;
    color: #13000071; /*placeholder color*/
}
.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #FF5B00;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
    transform: scale(1);
}
.submit-btn .input-data {
    top: 70px;
    left: 435px;
    overflow: hidden;
    height: 45px !important;
    width: 25% !important;
}
.submit-btn .input-data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(
    right,
    #FF5B00,
    #FF5B00,
    #2484A6,
    #205475
    );
    transition: all 0.4s;
}
.submit-btn .input-data:hover .inner {
    left: 0;
}
.submit-btn .input-data input {
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
@media (max-width: 700px) {
    .container .text {
        font-size: 30px;
    }
    .container form {
        padding: 10px 0 0 0;
    }
    .container form .form-row {
        display: block;
    }
    form .form-row .input-data {
        margin: 35px 0 !important;
    }
    .submit-btn .input-data {
        width: 40% !important;
    }
}
