body {
    
}
.Envelope {
    top: 200px;
    width: auto; 
    height: auto; 
    position: relative;
}
.open_envelope {
    width: auto; 
    height: auto;
    padding: 0 0px;
    position: relative;
    align-self: center;
}
.file-view-window {
    top: -100px;
    width: auto;
    height: auto;
    background-color: rgb(137, 21, 21);
    position: relative;
}
.flap {
    position: relative;
    top: -75px; 
    align-self: center;
}
.EnvelopeWindow {
    left: 40px;
    top: 382px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}
.EnvelopeWindowBackground {
    width: 448px;
    height: 241px;
    background: #A7A7A7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 31px
}
.Files {
    position: relative;
    z-index: 3;
    width: 397px;
    height: 190px;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 50px;
    left: 1px;
    top: 38px;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    gap: 27px;
    display: inline-flex;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.Files::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.File{
    height: 170.01px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cls-1_fti {
fill: #205475;
}
.cls-1_fti, .cls-2_fti {
fill-rule: evenodd;
}
.cls-2_fti {
fill: #2484a6;
}
.FileTypeIcon{
    width: 126.88px;
    height: 145.01px;
}
.cls-1 {
    fill: #ff5b00;
}
.cls-2 {
    fill: #fff;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 20px;
}
.DeleteFileIcon {
    position: relative;
    top: 16px;
    left: 48px;
    width: 18px;
    height: 18px;
}
.FileName {
    width: 145px;
    height: 25px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.cls-1_adi {
    fill: #00ffef;
}
.cls-1_adi, .cls-2_adi {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}
.cls-2_adi {
    fill: #2484a6;
}
.AddFileIcon {
    width: 34px;
    height: 29px;
    left: 409px;
    top: 9px;
    position: absolute;
}
.EnvelopeContainer {
    padding: 10px;
    left: -10px;
    top: -10px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}
.Envelope_front {
    z-index: 2;
    width: 1256px;
    height: 644px
}
.Postage {
    z-index: 2;
    padding-left: 11px;
    padding-right: 11px;
    left: 1062px;
    top: 24px;
    position: absolute;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}
.Postage_icon {
    width: 159.25px;
    height: 182px;
}
.CurrencyIcon {
    width: 53.78px;
    height: 54px;
    left: 63.74px;
    top: 47px;
    position: absolute;
}
.PriceText {
    width: 90px;
    height: 43px;
    left: 46px;
    top: 110px;
    position: absolute;
    text-align: center;
    color: #205475;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}
.Sender {
    z-index: 2;
    padding-left: 18px;
    padding-right: 18px;
    left: 40px;
    top: 24px;
    position: absolute; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex
}
.SenderName {
    width: 430px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.SenderAdress {
    width: 430px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.SenderAdditionalAdressInformation {
    width: 430px;
    color: black; 
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.SenderMail {
    width: 430px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.Recipient {
    z-index: 2;
    padding-left: 18px;
    padding-right: 18px;
    left: 656px;
    top: 428px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex
}
.RecipientName {
    width: 430px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.RecipientAdress {
    width: 430px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}
.RecipientAdditionalAdressInformation {
    width: 430px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}